*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}

.card{
    width: 550px;
    color: white;
    background-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

#Details{
    display: grid;
}


#title{
 align-self: center;

}

#level{
    align-self: center;
}

#img{
    align-self: center;
}

#id{
    align-self: center;
    font-size: 40px;
}